body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(../Content/img/oRTOtJC.jpg);
    background-size: cover;
    color: white;
}

.image {
    height: 52px;
    width: 52px;
    margin: 0 auto;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.myButton {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    background-color: #ededed;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #777777;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

.myButton:hover {
    background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
    background-color: #dfdfdf;
}

.myButton:active {
    position: relative;
    top: 1px;
}
.nuppdiv {
    text-align: center;
    padding: 50px;
    margin-top: 100px;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 4rem;
    font-family: 'Fontdiner Swanky', cursive;
}

a.my-class { color: white }
a.my-class:active { color: white }
a.my-class:link { color: white }
a.my-class:visited { color: white }

