@{
    ViewBag.Title = "Home Page";
}

<div class="nuppdiv">
    <h2>Tere tulemast Hirmudemajja!</h2>
    <a href="http://localhost:2227/hirmudemajas/OstaPilet" class="myButton">Osta Pilet!</a>
</div>

<div class="row">
    <div class="col-md-4">
</div>